<form [formGroup]="profileForm" *ngIf="profileForm" (ngSubmit)="onSubmit()">
<div class="row gutter-xs">


        <div class="col-md-8 card panel-body  " id="">
            <div class="col-sm-12 col-md-12">

                <div class="demo-form-wrapper">
                        <!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()"> -->
                    
                
                    <div class="form-group">
                        <div class="col-md-8">
                            <label for="email-2" class=" control-label">Name</label>

                            <input 
                            type="text" 
                            formControlName="firstName" class="form-control">
                        </div>
                    </div>

               
                        

                        <div class="form-group">
                            <div class="col-md-8">
                                <label for="email-2" class=" control-label">Email</label>

                                <input type="text" formControlName="email" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8">
                                <label for="email-2" class=" control-label">Phone</label>

                                <input type="text" formControlName="phoneNumber" class="form-control">
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <label for="email-2" class=" control-label">Add profile pic</label>

                                <input  type="file" class="form-control" (change)="filee($event)">
                            </div>

                        </div>
               
                        <div class="form-group">
                            <div class="col-md-8">
                                <label for="email-2" class=" control-label">Location</label>
                                <input type="text" formControlName="location" class="form-control">

                                
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <label for="about" class=" control-label">About me</label>

                                <input type="text" formControlName="aboutMe" class="form-control">
     </div>
 </div>
 <!-- <div class="form-group">
     <div class="col-md-8">
         <label for="address" class=" control-label">Address</label>

                                <textarea id="" class="form-control" rows="5"></textarea>
                            </div>
                        </div>  -->

                        <div class="form-group">
                            <div class=" col-sm-8  col-md-8 ">
                                <button class="btn btn-primary " type="submit">Submit</button>
                            </div>
                        </div>
                    <!-- </form> -->
                </div>
            </div>

        </div>
    </div>
</form>

<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  
    <label>
      First Name:
      <input type="text" formControlName="firstName">
    </label>
  
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>

    <label>
       email:
        <input type="text" formControlName="email">
      </label>

      <label>
        lognitude:
        <input type="text" formControlName="lognitude">
      </label>

      <label>          
        latitide:
        <input type="text" formControlName="latitide">
      </label>

      <label>
        profileimage:
        <input  type="text" formControlName="profileImage">
      </label> 

      <label>
        phoneNumber:
        <input type="text" formControlName="phoneNumber">
      </label>

      <label>
            countryCode:
            <input type="text" formControlName="countryCode">
          </label>

          <label>
                aboutMe:
                <input type="text" formControlName="aboutMe">
              </label>
              <button type="submit">Submitt</button>
              <label>          
                    Image:
                    <input type="file" (click)="change($event)"formControlName="profileImage">
                  </label>
  </form> -->
